html{
    margin: 0;
    padding: 0;
    overflow: hidden;
  
}
body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(51,51,51);
}
canvas{
    height: 100vh;
    width: 100vw;
}